# Application Configuration
BASE_URL=https://office.minda.gov.ph:9003/
# Path to store session files (e.g. application/cache or /tmp in docker)
SESS_SAVE_PATH=

# Database Configuration
# For Docker environment (which uses pdo_dblib), DB_DRIVER should be set to pdo
DB_HOST=192.168.1.8\SQLEXPRESS
DB_PORT=
DB_NAME=treportdb
DB_NAME_PDS=pdsdb
DB_USER=sa
DB_PASS=minda1234
DB_DRIVER=pdo

DB_NAME_STAGING=treport_db_staging

# Enable database debug logs and high verbosity error threshold
DB_DEBUG=false
