USE [master]
GO
/****** Object:  Database [treportdb]    Script Date: 1/14/2026 11:15:23 AM ******/
CREATE DATABASE [treportdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'treportdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\treportdb.mdf' , SIZE = 209088KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'treportdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\treportdb_log.ldf' , SIZE = 847872KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [treportdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [treportdb]
GO
/****** Object:  UserDefinedFunction [dbo].[ams_list_ids]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ams_list_ids] ( @input INT 
)
RETURNS VARCHAR(200)
AS
BEGIN

DECLARE @List VARCHAR(8000)
SELECT @List = COALESCE(@List + ',', '') + CAST(cha.employee_id AS VARCHAR)
FROM   checkexact_ams cha  
WHERE CAST(cha.a_in AS date) = CAST({fn NOW()} as date) 

RETURN  @List;
END
GO
/****** Object:  UserDefinedFunction [dbo].[DecodeUTF8String]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DecodeUTF8String]  (@value varchar(max)
)
RETURNS nvarchar(max)
AS
BEGIN
  -- Transforms a UTF-8 encoded varchar string into Unicode
    -- By Anthony Faull 2014-07-31
    DECLARE @result nvarchar(max);

    -- If ASCII or null there's no work to do
    IF (@value IS NULL
        OR @value NOT LIKE '%[^ -~]%' COLLATE Latin1_General_BIN
    )
        RETURN @value;

    -- Generate all integers from 1 to the length of string
    WITH e0(n) AS (SELECT TOP(POWER(2,POWER(2,0))) NULL FROM (VALUES (NULL),(NULL)) e(n))
        , e1(n) AS (SELECT TOP(POWER(2,POWER(2,1))) NULL FROM e0 CROSS JOIN e0 e)
        , e2(n) AS (SELECT TOP(POWER(2,POWER(2,2))) NULL FROM e1 CROSS JOIN e1 e)
        , e3(n) AS (SELECT TOP(POWER(2,POWER(2,3))) NULL FROM e2 CROSS JOIN e2 e)
        , e4(n) AS (SELECT TOP(POWER(2,POWER(2,4))) NULL FROM e3 CROSS JOIN e3 e)
        , e5(n) AS (SELECT TOP(POWER(2.,POWER(2,5)-1)-1) NULL FROM e4 CROSS JOIN e4 e)
    , numbers(position) AS
    (
        SELECT TOP(DATALENGTH(@value)) ROW_NUMBER() OVER (ORDER BY (SELECT NULL))
        FROM e5
    )
    -- UTF-8 Algorithm (http://en.wikipedia.org/wiki/UTF-8)
    -- For each octet, count the high-order one bits, and extract the data bits.
    , octets AS
    (
        SELECT position, highorderones, partialcodepoint
        FROM numbers a
        -- Split UTF8 string into rows of one octet each.
        CROSS APPLY (SELECT octet = ASCII(SUBSTRING(@value, position, 1))) b
        -- Count the number of leading one bits
        CROSS APPLY (SELECT highorderones = 8 - FLOOR(LOG( ~CONVERT(tinyint, octet) * 2 + 1)/LOG(2))) c
        CROSS APPLY (SELECT databits = 7 - highorderones) d
        CROSS APPLY (SELECT partialcodepoint = octet % POWER(2, databits)) e
    )
    -- Compute the Unicode codepoint for each sequence of 1 to 4 bytes
    , codepoints AS
    (
        SELECT position, codepoint
        FROM
        (
            -- Get the starting octect for each sequence (i.e. exclude the continuation bytes)
            SELECT position, highorderones, partialcodepoint
            FROM octets
            WHERE highorderones <> 1
        ) lead
        CROSS APPLY (SELECT sequencelength = CASE WHEN highorderones in (1,2,3,4) THEN highorderones ELSE 1 END) b
        CROSS APPLY (SELECT endposition = position + sequencelength - 1) c
        CROSS APPLY
        (
            -- Compute the codepoint of a single UTF-8 sequence
            SELECT codepoint = SUM(POWER(2, shiftleft) * partialcodepoint)
            FROM octets
            CROSS APPLY (SELECT shiftleft = 6 * (endposition - position)) b
            WHERE position BETWEEN lead.position AND endposition
        ) d
    )
    -- Concatenate the codepoints into a Unicode string
    SELECT @result = CONVERT(xml,
        (
            SELECT NCHAR(codepoint)
            FROM codepoints
            ORDER BY position
            FOR XML PATH('')
        )).value('.', 'nvarchar(max)');

    RETURN @result;
END
GO
/****** Object:  UserDefinedFunction [dbo].[increment_num_subpap_division]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[increment_num_subpap_division]( @input INT
)
RETURNS INT
AS
BEGIN

DECLARE @value INT
DECLARE @NumberOfRows INT;

SET @NumberOfRows = (SELECT COUNT(*) as total
							 FROM 
							(
                              SELECT 
                                  sp.DBM_Sub_Pap_id as id,
                                  '-1' as parentid,
                                  sp.DBM_Sub_Pap_Desc as name,
                                  sp.DBM_Sub_Pap_id as master_id,
                                  'DBM_Sub_Pap' as db_table
                              FROM 
                                  DBM_Sub_Pap sp 
                              UNION ALL
                              SELECT
                                  dbo.increment_number(ROW_NUMBER() OVER (ORDER By division_id) ) as id, 	
                                  d.DBM_Sub_Pap_Id as parentid,
                                  d.Division_Desc as name,
                                  d.division_id as master_id,
                                  'Division' as db_table
                                  FROM 
                                  Division d 
                              ) s
						);
 						

    SET @value = @input + @NumberOfRows;

    RETURN @value;
END
GO
/****** Object:  UserDefinedFunction [dbo].[increment_number]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[increment_number] ( @input INT 
)
RETURNS INT
AS
BEGIN
DECLARE @Work INT
DECLARE @NumberOfRows INT;

SET @NumberOfRows = (SELECT COUNT(*) AS total FROM DBM_Sub_Pap sp);

    SET @Work = @Input + @NumberOfRows;

    RETURN @work
    
END
GO
/****** Object:  UserDefinedFunction [dbo].[return_parent_id_employee]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[return_parent_id_employee]( @input INT , @db_table VARCHAR(200)
)
RETURNS INT
AS
BEGIN
DECLARE @Value INT;

SET @Value = (SELECT 
s.id 
FROM
(
 	SELECT 
        sp.DBM_Sub_Pap_id as id,
        '-1' as parentid,
        sp.DBM_Sub_Pap_Desc as name,
        sp.DBM_Sub_Pap_id as master_id,
        'DBM_Sub_Pap' as db_table
    FROM 
        DBM_Sub_Pap sp 
    UNION ALL
    SELECT
        dbo.increment_number(ROW_NUMBER() OVER (ORDER By division_id) ) as id, 	
        d.DBM_Sub_Pap_Id as parentid,
        d.Division_Desc as name,
        d.division_id as master_id,
        'Division' as db_table
        FROM 
        Division d 
) s
WHERE 
s.master_id = @input
AND 
s.db_table = @db_table);

return @Value;

END
GO
/****** Object:  Table [dbo].[activities]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[activities](
	[ac_id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NULL,
	[activity_details] [text] NULL,
	[ac_date] [varchar](250) NULL,
	[table_index_id] [varchar](max) NULL,
	[table_from] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[activity]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity](
	[activity_id] [int] IDENTITY(120,1) NOT NULL,
	[creator_id] [int] NULL,
	[exact_id] [int] NULL,
	[date_added] [datetime] NULL,
	[description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[activity_logs]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_logs](
	[activity_log_id] [int] IDENTITY(1,1) NOT NULL,
	[activity_id] [int] NULL,
	[assign_id] [int] NULL,
	[is_view] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[activity_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[allowedsubmit]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[allowedsubmit](
	[as_id] [int] IDENTITY(1,1) NOT NULL,
	[asdtr_sumrep] [int] NULL,
	[cnt_id] [int] NULL,
	[emp_id] [varchar](250) NULL,
	[findings] [text] NULL,
	[status] [int] NULL,
	[correctedby] [varchar](250) NULL,
	[from_db] [int] NULL,
 CONSTRAINT [allowedsubmit_pk] PRIMARY KEY CLUSTERED 
(
	[as_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[amspix]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[amspix](
	[amspix_id] [int] IDENTITY(1,1) NOT NULL,
	[cea_id] [int] NULL,
	[am_in_snap] [text] NULL,
	[am_out_snap] [text] NULL,
	[pm_in_snap] [text] NULL,
	[pm_out_snap] [text] NULL,
	[empid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[amspix_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[areas]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[areas](
	[area_id] [int] IDENTITY(1,1) NOT NULL,
	[area_name] [varchar](30) NULL,
	[status] [int] NULL,
	[area_code] [varchar](30) NULL,
	[ipaddress] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[area_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[checkexact]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[checkexact](
	[exact_id] [int] IDENTITY(100,1) NOT NULL,
	[employee_id] [int] NULL,
	[type_mode] [varchar](30) NULL,
	[type_mode_details] [varchar](30) NULL,
	[modify_by_id] [int] NULL,
	[checkdate] [varchar](500) NULL,
	[remarks] [text] NULL,
	[reasons] [text] NULL,
	[attachments] [text] NULL,
	[date_added] [varchar](30) NULL,
	[is_approved] [int] NULL DEFAULT ((0)),
	[aprroved_by_id] [int] NULL,
	[date_approved] [varchar](30) NULL,
	[ps_type] [int] NULL DEFAULT ((0)),
	[time_in] [varchar](30) NULL,
	[time_out] [varchar](30) NULL,
	[leave_id] [int] NULL DEFAULT ((0)),
	[leave_name] [varchar](30) NULL,
	[ps_guard_id] [int] NULL DEFAULT ((0)),
	[leave_is_halfday] [bit] NULL,
	[leave_is_am_pm_select] [varchar](2) NULL,
	[grp_id] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[exact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[checkexact_ams]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[checkexact_ams](
	[c_ams_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NULL,
	[checkdate] [date] NULL,
	[a_in] [datetime] NULL,
	[a_out] [datetime] NULL,
	[p_in] [datetime] NULL,
	[p_out] [datetime] NULL,
	[remarks] [text] NULL,
	[ams_guard_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[c_ams_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[checkexact_approvals]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[checkexact_approvals](
	[checkexact_approval_id] [int] IDENTITY(1,1) NOT NULL,
	[exact_id] [int] NULL,
	[division_chief_id] [int] NULL,
	[division_chief_is_approved] [bit] NULL,
	[division_chief_remarks] [varchar](200) NULL,
	[division_date] [datetime] NULL,
	[paf_recorded_by_id] [int] NULL,
	[paf_recorded_by_is_approved] [bit] NULL,
	[paf_recorded_remarks] [varchar](200) NULL,
	[paf_recorded_date] [int] NULL,
	[paf_approved_by_id] [int] NULL,
	[paf_is_approved] [bit] NULL,
	[paf_approved_remarks] [varchar](200) NULL,
	[paf_date] [datetime] NULL,
	[leave_authorized_official_id] [int] NULL,
	[leave_authorized_is_approved] [bit] NULL,
	[leave_authotrized_remarks] [varchar](200) NULL,
	[leave_authorized_date] [datetime] NULL,
	[hrmd_approved_id] [int] NULL,
	[hrmd_is_approved] [bit] NULL,
	[hrmd_remarks] [varchar](30) NULL,
	[hrmd_date] [datetime] NULL,
	[grp_id] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[checkexact_approval_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[checkexact_leave_logs]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[checkexact_leave_logs](
	[checkexact_leave_log_id] [int] IDENTITY(1,1) NOT NULL,
	[exact_id] [int] NULL,
	[no_days_applied] [int] NULL,
	[leave_application_details] [int] NULL,
	[spl_personal_milestone] [bit] NULL,
	[spl_filial_obligations] [bit] NULL,
	[spl_personal_transaction] [bit] NULL,
	[spl_parental_obligations] [bit] NULL,
	[spl_domestic_emergencies] [bit] NULL,
	[spl_calamity_acc] [bit] NULL,
	[spl_first] [bit] NULL,
	[spl_second] [bit] NULL,
	[spl_third] [bit] NULL,
	[grp_id] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[checkexact_leave_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[checkexact_logs]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[checkexact_logs](
	[exact_logs_id] [int] IDENTITY(1,1) NOT NULL,
	[exact_id] [int] NULL,
	[checktime] [varchar](30) NULL,
	[checktype] [varchar](30) NULL,
	[shift_type] [varchar](20) NULL,
	[modify_by_id] [int] NULL,
	[is_modify] [int] NULL,
	[is_delete] [int] NULL,
	[date_added] [varchar](30) NULL,
	[date_modify] [varchar](30) NULL,
	[is_bypass] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[exact_logs_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[checkexact_ot]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[checkexact_ot](
	[checkexact_ot_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NULL,
	[ot_checkdate] [date] NULL,
	[ot_task_done] [text] NULL,
	[ot_remarks] [text] NULL,
	[ot_requested_time_in] [datetime] NULL,
	[ot_requested_time_out] [datetime] NULL,
	[date_added] [datetime] NULL,
	[is_ot_type] [int] NULL,
	[ot_reasons_if_rw] [text] NULL,
	[div_is_approved] [bit] NULL,
	[div_chief_id] [int] NULL,
	[div_date_approved] [datetime] NULL,
	[act_div_is_approved] [bit] NULL,
	[act_div_chief_id] [int] NULL,
	[act_div_date_approved] [datetime] NULL,
	[act_div_a_chief_id] [int] NULL,
	[act_div_a_is_approved] [bit] NULL,
	[act_div_a_date_approved] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[checkexact_ot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[checkinout]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[checkinout](
	[checkinout_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[biometric_id] [int] NULL,
	[area_id] [int] NULL,
	[checktime] [varchar](30) NULL,
	[checktype] [varchar](30) NULL,
	[date_added] [varchar](30) NULL,
	[date_modified] [varchar](30) NULL,
	[status] [varchar](30) NULL,
	[is_active] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[checkinout_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[countersign]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[countersign](
	[countersign_id] [int] IDENTITY(1,1) NOT NULL,
	[bodycode] [text] NOT NULL,
	[emp_id] [varchar](250) NULL,
	[approval_status] [int] NULL,
	[tobeapprovedby] [int] NULL,
	[last_approving] [varchar](30) NULL,
	[dtr_summary_rep] [int] NULL,
	[vercode] [varchar](250) NULL,
	[hrnotified] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[countersign_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[creditdeductions]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[creditdeductions](
	[cd_id] [varchar](250) NOT NULL,
	[typeofcd] [varchar](250) NULL,
	[xvar] [int] NULL,
	[days] [int] NULL,
	[hrs] [int] NULL,
	[mins] [int] NULL,
	[status] [int] NULL,
	[leaveapplication_id] [varchar](250) NOT NULL,
 CONSTRAINT [creditdeductions_pk_creditdeductions] PRIMARY KEY CLUSTERED 
(
	[cd_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[creditrecords]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[creditrecords](
	[crerecid] [int] IDENTITY(1,1) NOT NULL,
	[vlrec] [varchar](250) NULL,
	[slrec] [varchar](250) NULL,
	[cocrec] [varchar](250) NULL,
	[exact_id] [varchar](250) NULL,
	[empid] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[crerecid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[d_accomplishment]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[d_accomplishment](
	[d_a_ID] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[accomplishment] [text] NULL,
	[user_id] [varchar](100) NULL,
	[f_signatory] [varchar](50) NULL,
	[s_signatory] [varchar](50) NULL,
	[f_action] [varchar](30) NULL,
	[s_action] [varchar](30) NULL,
	[coverage_id] [varchar](250) NULL,
	[spl_grp_id] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[d_a_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DBM_Pap]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DBM_Pap](
	[DBM_Pap_Id] [int] NOT NULL,
	[DBM_Pap_Code] [varchar](max) NULL,
	[DBM_Pap_Desc] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DBM_Sub_Pap]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DBM_Sub_Pap](
	[DBM_Sub_Pap_id] [int] IDENTITY(1,1) NOT NULL,
	[DBM_Pap_Id] [int] NULL,
	[DBM_Sub_Pap_Code] [varchar](max) NULL,
	[DBM_Sub_Pap_Desc] [varchar](max) NULL,
	[DBM_index] [int] NULL,
	[abbr_dbm] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Division]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Division](
	[Division_Id] [int] IDENTITY(1,1) NOT NULL,
	[DBM_Sub_Pap_Id] [int] NULL,
	[Division_Code] [varchar](max) NULL,
	[Division_Desc] [varchar](max) NULL,
	[Division_index] [int] NULL,
	[DivId] [int] NULL,
	[abbr] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[documents]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[documents](
	[doc_id] [int] IDENTITY(1,1) NOT NULL,
	[grp_name] [text] NULL,
	[grp_id] [varchar](250) NULL,
	[files] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dtr_summary_reports]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dtr_summary_reports](
	[sum_reports_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NULL,
	[dtr_cover_id] [int] NULL,
	[dtr_coverage] [varchar](30) NULL,
	[date_start_cover] [varchar](30) NULL,
	[date_end_cover] [varchar](30) NULL,
	[tardiness_undertime] [varchar](30) NULL,
	[services_rendered] [varchar](30) NULL,
	[leaves_log_id] [int] NULL,
	[remarks] [text] NULL,
	[is_approved] [bit] NULL DEFAULT ((0)),
	[approved_by] [int] NULL,
	[date_submitted] [varchar](30) NULL,
	[status] [int] NULL,
	[is_submitted] [bit] NULL DEFAULT ((0)),
	[deduction_logs] [text] NULL,
	[unid] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[sum_reports_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dtr_summary_reports_approvals]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dtr_summary_reports_approvals](
	[dtr_summary_rep_approval_id] [int] IDENTITY(1,1) NOT NULL,
	[sum_reports_id] [int] NULL,
	[dtr_chief_id] [int] NULL,
	[dtr_chief_is_approved] [bit] NULL,
	[dtr_chief_remarks] [text] NULL,
	[dtr_chief_date] [datetime] NULL,
	[dtr_chief_head_id] [int] NULL,
	[dtr_chief_head_is_approved] [bit] NULL,
	[dtr_chief_head_remarks] [text] NULL,
	[dtr_chief_head_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[dtr_summary_rep_approval_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dtrremarks]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dtrremarks](
	[drid] [int] IDENTITY(1,1) NOT NULL,
	[dtr_summary_id] [varchar](250) NULL,
	[dtrdate] [datetime] NULL,
	[remarks] [text] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[drid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[earnedleaves]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[earnedleaves](
	[el_id] [int] IDENTITY(1,1) NOT NULL,
	[typeofleave] [varchar](250) NULL,
	[vl_earned] [float] NULL,
	[vl_abs_ut_wpay] [float] NULL,
	[vl_balance] [float] NULL,
	[vl_abs_ut_wopay] [float] NULL,
	[emp_id] [varchar](250) NULL,
	[date] [varchar](250) NULL,
	[cd_id] [varchar](250) NULL,
	[status] [int] NULL,
	[sl_earned] [float] NULL,
	[sl_abs_ut_wpay] [float] NULL,
	[sl_balance] [float] NULL,
	[sl_abs_ut_wopay] [float] NULL,
 CONSTRAINT [earnedleaves_pk] PRIMARY KEY CLUSTERED 
(
	[el_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[el_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[employee_leave_credits]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[employee_leave_credits](
	[elc_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NULL,
	[vl_value] [float] NULL,
	[fl_value] [float] NULL,
	[sl_value] [float] NULL,
	[spl_value] [float] NULL,
	[coc_value] [varchar](30) NULL,
	[credits_as_of] [varchar](max) NULL,
	[is_beggining] [bit] NULL,
	[is_current] [bit] NULL,
	[exact_id] [varchar](max) NULL,
	[vl_earned] [float] NULL,
	[sl_earned] [float] NULL,
	[elc_type] [varchar](30) NULL,
	[hrs] [int] NULL,
	[mins] [int] NULL,
	[withpay] [float] NULL,
	[wopay] [float] NULL,
	[mult] [varchar](30) NULL,
	[formonet] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[elc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[employee_ot_credits]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[employee_ot_credits](
	[elc_otcto_id] [int] IDENTITY(1,1) NOT NULL,
	[date_of_application] [varchar](250) NULL,
	[am_in] [varchar](30) NULL,
	[am_out] [varchar](30) NULL,
	[pm_in] [varchar](30) NULL,
	[pm_out] [varchar](30) NULL,
	[total] [varchar](250) NULL,
	[mult] [varchar](30) NULL,
	[cred_total] [varchar](250) NULL,
	[total_credit] [text] NULL,
	[cto_hours] [varchar](100) NULL,
	[cto_mins] [varchar](100) NULL,
	[emp_id] [varchar](250) NULL,
	[cto_start] [varchar](250) NULL,
	[cto_end] [varchar](250) NULL,
	[credit_type] [varchar](100) NULL,
	[exact_ot] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[elc_otcto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[employee_schedule]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_schedule](
	[emp_sch_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NULL,
	[shift_id] [int] NULL,
	[date_sch_started] [date] NULL,
	[date_sch_ended] [date] NULL,
	[is_active] [bit] NULL,
	[is_temporary] [bit] NULL DEFAULT ((0))
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[employees]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[employees](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[id_number] [varchar](200) NULL,
	[biometric_id] [int] NULL,
	[f_name] [varchar](200) NULL,
	[m_name] [varchar](20) NULL,
	[l_name] [varchar](30) NULL,
	[status] [bit] NULL,
	[birthday] [varchar](20) NULL,
	[gender] [varchar](20) NULL,
	[employee_image] [text] NULL DEFAULT (NULL),
	[date_hired] [varchar](20) NULL,
	[date_added] [varchar](20) NULL,
	[date_modified] [varchar](20) NULL,
	[address_1] [text] NULL,
	[address_2] [text] NULL,
	[city] [varchar](20) NULL,
	[state] [varchar](20) NULL,
	[zip] [varchar](20) NULL,
	[email_1] [varchar](max) NULL,
	[email_2] [varchar](max) NULL,
	[contact_1] [text] NULL,
	[contact_2] [text] NULL,
	[area_id] [int] NULL,
	[department_id] [int] NULL,
	[position_id] [int] NULL,
	[level_id] [int] NULL DEFAULT ((0)),
	[employment_type] [varchar](30) NULL,
	[employment_type_date] [varchar](30) NULL,
	[DBM_Pap_id] [int] NULL,
	[Division_id] [int] NULL,
	[Level_sub_pap_div] [varchar](30) NULL,
	[tin_number] [varchar](200) NULL,
	[sss_number] [varchar](200) NULL,
	[firstname] [varchar](200) NULL,
	[daily_rate] [decimal](18, 0) NULL,
	[is_head] [bit] NULL,
	[employee_index_tree] [int] NULL DEFAULT ((1)),
	[e_signature] [text] NULL,
	[isfocal] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[excesstime]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[excesstime](
	[etid] [int] IDENTITY(1,1) NOT NULL,
	[checkinid] [int] NULL,
	[empid] [varchar](200) NULL,
	[excesstime] [varchar](200) NULL,
	[operation] [varchar](30) NULL,
	[currentvalue] [varchar](200) NULL,
	[status] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[holidays]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[holidays](
	[holiday_id] [int] IDENTITY(1,1) NOT NULL,
	[holiday_date] [date] NULL,
	[holiday_name] [varchar](200) NOT NULL,
	[holiday_type] [varchar](30) NULL,
	[area_affected] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[holiday_id] ASC,
	[holiday_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hours_minutes_conversation_fractions]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hours_minutes_conversation_fractions](
	[particular] [int] NULL,
	[type] [varchar](30) NULL,
	[equi_day] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hr_dtr_coverage]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hr_dtr_coverage](
	[dtr_cover_id] [int] IDENTITY(1,1) NOT NULL,
	[date_started] [varchar](30) NULL,
	[date_ended] [varchar](30) NULL,
	[date_deadline] [varchar](30) NULL,
	[employment_type] [varchar](30) NULL,
	[is_active] [bit] NULL,
	[is_allow_to_submit] [bit] NULL,
	[date_index] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[dtr_cover_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hris_system_divisions]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hris_system_divisions](
	[hris_div_id] [int] IDENTITY(1,1) NOT NULL,
	[system_division_code] [varchar](250) NULL,
	[system_division_desc] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hrpersonnel]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hrpersonnel](
	[hrpersonnel_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](250) NOT NULL,
	[emp_id] [int] NOT NULL,
	[assignto] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[hrpersonnel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[leaveapplications]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[leaveapplications](
	[leaveid] [varchar](250) NOT NULL,
	[typeofleave_id] [int] NULL,
	[leavespecific] [text] NULL,
	[empid] [varchar](250) NULL,
	[dateoffiling] [varchar](250) NULL,
	[numofworkingdaysapplied] [int] NULL,
	[inclusivedate] [varchar](250) NULL,
	[commutation] [varchar](100) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[leaveid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[leaves]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[leaves](
	[leave_id] [int] IDENTITY(1,1) NOT NULL,
	[leave_name] [varchar](30) NULL,
	[min_unit] [int] NULL,
	[unit] [int] NULL,
	[color] [varchar](30) NULL,
	[gender] [int] NULL DEFAULT ((0)),
	[leave_code] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[leave_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ot_accom]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ot_accom](
	[ot_accid] [int] IDENTITY(1,1) NOT NULL,
	[am_timein] [varchar](100) NULL,
	[am_timeout] [varchar](100) NULL,
	[pm_timein] [varchar](100) NULL,
	[pm_timeout] [varchar](100) NULL,
	[accomplishment] [text] NULL,
	[approval_status] [int] NULL,
	[fapproval] [int] NULL,
	[sapproval] [int] NULL,
	[lapproval] [int] NULL,
	[emp_id] [varchar](250) NULL,
	[ot_exact_id] [varchar](250) NULL,
	[date_added] [varchar](250) NULL,
 CONSTRAINT [ot_accom_pk] PRIMARY KEY CLUSTERED 
(
	[ot_accid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[positions]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[positions](
	[position_id] [int] IDENTITY(1,1) NOT NULL,
	[position_name] [varchar](200) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[rem_credits]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rem_credits](
	[rem_cred_id] [int] IDENTITY(1,1) NOT NULL,
	[rem_vl] [varchar](250) NULL,
	[rem_sl] [varchar](250) NULL,
	[rem_coc] [varchar](250) NULL,
	[rem_tot] [varchar](250) NULL,
	[less_vl] [varchar](250) NULL,
	[less_sl] [varchar](250) NULL,
	[less_coc] [varchar](250) NULL,
	[less_tot] [varchar](250) NULL,
	[grp_id] [varchar](250) NULL,
	[typeofpink] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[rem_cred_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[settings]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[settings](
	[setid] [int] IDENTITY(1,1) NOT NULL,
	[settingmodule] [varchar](250) NULL,
	[settingfield] [varchar](250) NULL,
	[settingvalue] [varchar](250) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[setid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[shift_mgt]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[shift_mgt](
	[shift_id] [int] IDENTITY(1,1) NOT NULL,
	[shift_name] [varchar](200) NULL,
	[date_added] [varchar](30) NULL,
	[is_weekend] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[shift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[shift_mgt_logs]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[shift_mgt_logs](
	[shift_mgt_logs_id] [int] IDENTITY(1,1) NOT NULL,
	[shift_id] [int] NULL,
	[time_start] [varchar](30) NULL,
	[time_exact] [varchar](30) NULL,
	[time_flexi_exact] [varchar](30) NULL,
	[time_end] [varchar](30) NULL,
	[type] [varchar](30) NULL,
	[shift_type] [varchar](30) NULL,
	[index_shift] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblofatts]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblofatts](
	[tblofattsid] [int] NOT NULL,
	[theatts] [text] NULL,
	[checkexactid] [varchar](250) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[tblofattsid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[travelorders]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[travelorders](
	[toid] [int] IDENTITY(1,1) NOT NULL,
	[datefiled] [datetime] NULL,
	[controlno] [varchar](300) NULL,
	[nameoftravs] [text] NULL,
	[dateoftrav] [varchar](200) NULL,
	[dateoftrav_to] [varchar](200) NULL,
	[time_from] [time](7) NULL,
	[time_to] [time](7) NULL,
	[natoftrav] [varchar](100) NULL,
	[destination] [varchar](350) NULL,
	[purpose] [text] NULL,
	[reqby] [text] NULL,
	[status] [int] NULL,
	[isforeign] [bit] NULL,
	[owner] [varchar](200) NULL,
	[theyear] [int] NULL,
	[thecount] [int] NULL,
	[theoffice] [varchar](300) NULL,
	[themonth] [int] NULL,
	[attfile] [text] NULL,
	[location] [text] NULL,
	[encodedby] [varchar](300) NULL,
	[officeunder] [varchar](100) NULL,
	[colorid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[toid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](30) NULL,
	[Password] [varchar](40) NULL,
	[usertype] [varchar](30) NULL,
	[employee_id] [int] NULL,
	[e_add] [text] NULL,
	[isfirsttime] [int] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[getallapplications]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getallapplications]  ( @ses_employee_id INT 
)
AS
BEGIN

SELECT 
t.*
FROM
(
  SELECT 
  CASE 
  WHEN ce.type_mode = 'PS' THEN ce.type_mode + ' - ' + 
  CASE 
   WHEN ce.ps_type = 1 THEN 'OFFICIAL'
   ELSE 'PERSONAL'
  END
  WHEN ce.type_mode = 'LEAVE' THEN ce.type_mode + ' - ' + (SELECT l.leave_name FROM leaves l WHERE l.leave_id = ce.leave_id)
  ELSE 
  ce.type_mode
  END as new_type_mode,
  CASE 
  WHEN ca.division_chief_is_approved = 0 THEN '<label class="label label-xs label-danger">Waiting for approval</label>'
  WHEN ca.division_chief_is_approved = 1 THEN '<label class="label label-xs label-success">Approved</label>'
  ELSE '<label class="label label-xs label-danger">Waiting for approval</label>'
  END as status,
  ce.exact_id,
  ce.type_mode,
  CAST( ce.date_added  AS VARCHAR) as date_added,
  e.f_name as fullname
  FROM checkexact ce
  LEFT JOIN checkexact_approvals ca ON ca.exact_id = ce.exact_id
  LEFT JOIN employees e ON e.employee_id = ce.employee_id
  WHERE ce.type_mode IN ('PS','PAF', 'LEAVE') AND ce.employee_id = @ses_employee_id  OR ca.division_chief_id = @ses_employee_id OR ca.leave_authorized_official_id = @ses_employee_id OR ca.paf_approved_by_id = @ses_employee_id OR ca.hrmd_approved_id = @ses_employee_id 
  UNION
  SELECT 
  'OT' as new_type_mode , 
  '<label class="label label-xs label-danger">Waiting for approval</label>' as status, 
  co.checkexact_ot_id as exact_id, 
  'OT' as type_mode,
  CAST( co.date_added  AS VARCHAR) as date_added,
  e.f_name as fullname
  FROM checkexact_ot co
  LEFT JOIN employees e ON e.employee_id = co.employee_id
  WHERE co.employee_id = @ses_employee_id  OR co.div_chief_id = @ses_employee_id OR co.act_div_chief_id = @ses_employee_id
) t
ORDER BY CAST (t.date_added as DATETIME ) DESC

  
END
GO
/****** Object:  StoredProcedure [dbo].[getemployeestree]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getemployeestree] ( @dtr_cover_id INT 
)
AS
BEGIN
DECLARE @MyTableVar table(  
    id int NOT NULL,  
    parentid int,  
    name VARCHAR(200),  
    master_id int,
    db_table VARCHAR(200),
    indexx INT
    );
INSERT INTO @MyTableVar
SELECT 
  s.* 
  FROM
  (
      SELECT 
      sp.DBM_Sub_Pap_id as id,
      '-1' as parentid,
      '<span style="text-transform: Uppercase; font-style: italic; font-weight:bold;">' + sp.DBM_Sub_Pap_Desc + '</span>' as name,
      sp.DBM_Sub_Pap_id as master_id,
      'DBM_Sub_Pap' as db_table,
      0 as indexxs
     
  FROM 
      DBM_Sub_Pap sp WHERE sp.DBM_Sub_Pap_id != 6
  UNION ALL
  SELECT
      dbo.increment_number(ROW_NUMBER() OVER (ORDER By division_id) ) as id, 	
      d.DBM_Sub_Pap_Id as parentid,
       '<span style="font-style: italic;font-weight:bold;">' + d.Division_Desc + '</span>' as name,
      d.division_id as master_id,
      'Division' as db_table,
      3 as indexxs
      FROM 
      Division d  WHERE d.DBM_Sub_Pap_Id != 6
   UNION ALL   
  SELECT
      dbo.increment_num_subpap_division(ROW_NUMBER() OVER (ORDER By e.employee_id)) as id, 	
      dbo.return_parent_id_employee(e.department_id,e.level_sub_pap_div) as parentid,
      '<span style="text-transform:Capitalize;">' + e.f_name COLLATE Latin1_General_CI_AS + '</span>' as name,
      e.employee_id as master_id,
      'employees' as db_table,
      (SELECT ei.employee_index_tree FROM employees ei WHERE ei.employee_id = e.employee_id) as indexxs 
      FROM 
      employees e
      WHERE e.department_id != '' AND e.status = 1 AND e.DBM_Pap_id != 6 
      ) s
ORDER BY s.indexxs ASC


SELECT 
f.* ,
CASE 
WHEN f.check_dtr_cover_id = 0 THEN '<span style=color:red; >Not Submitted</span>' 
WHEN f.check_dtr_cover_id = '-1' THEN '' 
ELSE '<span style=color:green;>Submitted</span>' END as final_status,

CASE 
WHEN f.check_dtr_cover_id = 0 THEN NULL
WHEN f.check_dtr_cover_id = '-1' THEN  NULL
ELSE f.date_submitted_1  END as date_submitted,
CASE 
WHEN f.check_dtr_cover_id = 0 THEN NULL
WHEN f.check_dtr_cover_id = '-1' THEN  NULL
ELSE f.tardiness_undertime_1  END as tardiness_undertime,
CASE 
WHEN f.check_dtr_cover_id = 0 THEN NULL
WHEN f.check_dtr_cover_id = '-1' THEN  NULL
ELSE f.sum_reports_id_1  END as sum_reports_id
FROM
(SELECT

   tree.id,
   tree.parentid,
   tree.name,
   tree.master_id,
   tree.db_table,
   tree.indexx,
 
  CASE 
  WHEN tree.db_table = 'employees' 
  THEN  ISNULL((SELECT dsrs_1.dtr_cover_id FROM dtr_summary_reports dsrs_1 WHERE dsrs_1.dtr_cover_id = @dtr_cover_id AND dsrs_1.employee_id = tree.master_id)  , 0)
  WHEN tree.db_table = '' THEN '-1' 
  ELSE '-1' END as check_dtr_cover_id,
  
  CASE 
  WHEN tree.db_table = 'employees' 
  THEN  ISNULL((SELECT dsrs_1.date_submitted FROM dtr_summary_reports dsrs_1 WHERE dsrs_1.dtr_cover_id = @dtr_cover_id AND dsrs_1.employee_id = tree.master_id)  , 0)
  WHEN tree.db_table = '' THEN '-1' 
  ELSE '-1' END as date_submitted_1,
  
  CASE 
  WHEN tree.db_table = 'employees' 
  THEN  ISNULL((SELECT dsrs_1.tardiness_undertime FROM dtr_summary_reports dsrs_1 WHERE dsrs_1.dtr_cover_id = @dtr_cover_id AND dsrs_1.employee_id = tree.master_id)  , 0)
  WHEN tree.db_table = '' THEN '-1' 
  ELSE '-1' END as tardiness_undertime_1,
  
  CASE 
  WHEN tree.db_table = 'employees' 
  THEN  ISNULL((SELECT dsrs_1.sum_reports_id FROM dtr_summary_reports dsrs_1 WHERE dsrs_1.dtr_cover_id = @dtr_cover_id AND dsrs_1.employee_id = tree.master_id)  , 0)
  WHEN tree.db_table = '' THEN '-1' 
  ELSE '-1' END as sum_reports_id_1
  
FROM 
 @MyTableVar tree ) f
END
GO
/****** Object:  StoredProcedure [dbo].[getemployeestreeplantillaams]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getemployeestreeplantillaams] ( @input_date VARCHAR(20) 
)
AS
BEGIN
DECLARE @MyTableVar table(  
    id int NOT NULL,  
    parentid int,  
    name VARCHAR(200),  
    master_id int,
    db_table VARCHAR(200),
    indexx INT
    );
INSERT INTO @MyTableVar
SELECT 
  s.* 
  FROM
  (
      SELECT 
      sp.DBM_Sub_Pap_id as id,
      '-1' as parentid,
      '<span style="text-transform: Uppercase; font-style: italic; font-weight:bold;">' + sp.DBM_Sub_Pap_Desc + '</span>' as name,
      sp.DBM_Sub_Pap_id as master_id,
      'DBM_Sub_Pap' as db_table,
      0 as indexxs
     
  FROM 
      DBM_Sub_Pap sp WHERE sp.DBM_Sub_Pap_id != 6
  UNION ALL
  SELECT
      dbo.increment_number(ROW_NUMBER() OVER (ORDER By division_id) ) as id, 	
      d.DBM_Sub_Pap_Id as parentid,
       '<span style="font-style: italic;font-weight:bold;">' + d.Division_Desc + '</span>' as name,
      d.division_id as master_id,
      'Division' as db_table,
      3 as indexxs
      FROM 
      Division d WHERE d.DBM_Sub_Pap_Id != 6
   UNION ALL   
  SELECT
      dbo.increment_num_subpap_division(ROW_NUMBER() OVER (ORDER By e.employee_id)) as id, 	
      dbo.return_parent_id_employee(e.department_id,e.level_sub_pap_div) as parentid,
      '<span style="text-transform:Capitalize;">' + e.f_name COLLATE Latin1_General_CI_AS + '</span>' as name,
      e.employee_id as master_id,
      'employees' as db_table,
      (SELECT ei.employee_index_tree FROM employees ei WHERE ei.employee_id = e.employee_id) as indexxs 
      FROM 
      employees e
      WHERE e.department_id != '' AND e.status = 1 AND e.DBM_Pap_id != 6 
      ) s
ORDER BY s.indexxs ASC


SELECT 
f.* 
FROM
(SELECT

   tree.id,
   tree.parentid,
   tree.name,
   tree.master_id,
   tree.db_table,
   tree.indexx,

  CASE 
  WHEN tree.db_table = 'employees' 
  THEN  ISNULL((SELECT cha.a_in FROM checkexact_ams cha WHERE CAST(cha.checkdate AS date) = CAST(@input_date as date) AND cha.employee_id =  tree.master_id)  , NULL)
  WHEN tree.db_table = '' THEN NULL 
  ELSE NULL END as a_in,
  
   CASE 
  WHEN tree.db_table = 'employees' 
  THEN  ISNULL((SELECT cha.a_out FROM checkexact_ams cha WHERE CAST(cha.checkdate AS date) = CAST(@input_date as date) AND cha.employee_id =  tree.master_id)  , NULL)
  WHEN tree.db_table = '' THEN NULL 
  ELSE NULL END as a_out,
  
  CASE 
  WHEN tree.db_table = 'employees' 
  THEN  ISNULL((SELECT cha.p_in FROM checkexact_ams cha WHERE CAST(cha.checkdate AS date) = CAST(@input_date as date) AND cha.employee_id =  tree.master_id)  , NULL)
  WHEN tree.db_table = '' THEN NULL 
  ELSE NULL END as p_in,
  
  CASE 
  WHEN tree.db_table = 'employees' 
  THEN  ISNULL((SELECT cha.p_out FROM checkexact_ams cha WHERE CAST(cha.checkdate AS date) = CAST(@input_date as date) AND cha.employee_id =  tree.master_id)  , NULL)
  WHEN tree.db_table = '' THEN NULL 
  ELSE NULL END as p_out,
  
  CASE 
  WHEN tree.db_table = 'employees' 
  THEN  ISNULL((SELECT cha.remarks FROM checkexact_ams cha WHERE CAST(cha.checkdate AS date) = CAST(@input_date as date) AND cha.employee_id =  tree.master_id)  , NULL)
  WHEN tree.db_table = '' THEN NULL 
  ELSE NULL END as remarks
  
FROM 
 @MyTableVar tree 
 ) f
END
GO
/****** Object:  StoredProcedure [dbo].[getpositions]    Script Date: 1/14/2026 11:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getpositions]  ( @position_id INT 
)
AS
BEGIN


    IF @position_id IS NULL
          SELECT * FROM positions;
    ELSE
          SELECT * FROM positions WHERE position_id = @position_id;

END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 means on process
1 means approved
2 means disapproved
3 means changed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'checkexact', @level2type=N'COLUMN',@level2name=N'is_approved'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'for passlips 1 = official ,   2 = personal' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'checkexact', @level2type=N'COLUMN',@level2name=N'ps_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 = fresh,
1 = approved,
2 = disapproved' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'countersign', @level2type=N'COLUMN',@level2name=N'approval_status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'regular  or JO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'employees', @level2type=N'COLUMN',@level2name=N'employment_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'main = starting value,
minus = subtract the value 
add = add the value' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'excesstime', @level2type=N'COLUMN',@level2name=N'operation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 = all
1 = davao
2 = zambo
3 = butuan
4 = cagayan
5 = koronadal' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'holidays', @level2type=N'COLUMN',@level2name=N'area_affected'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 means all 
1 means for female only
2 mens for male only ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'leaves', @level2type=N'COLUMN',@level2name=N'gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 = fresh, 1 = first approve, 2 = second approved, 3 declined' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ot_accom', @level2type=N'COLUMN',@level2name=N'approval_status'
GO
USE [master]
GO
